<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6927091013-2p6rfp43jv0g4nqr42gkqm22jet4m9e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6927091013-2p6rfp43jv0g4nqr42gkqm22jet4m9e4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6927091013-39r5f1en2p80dpcj38321m02jtk25buf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBnOBJCaLuCpOlPyFdevifDcQpIzMttxA</string>
	<key>GCM_SENDER_ID</key>
	<string>6927091013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yallahsoft.ridewaveCabRider</string>
	<key>PROJECT_ID</key>
	<string>ridewave-cab-all</string>
	<key>STORAGE_BUCKET</key>
	<string>ridewave-cab-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6927091013:ios:5478c91953e5faf450ea2c</string>
</dict>
</plist>